.feynman__link {
    display: flex;
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    color: #2f80ed;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

.feynman__link:hover {
    opacity: 50%;
}