.techniques {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    align-self: center;
    min-width: 80%;
    padding-top: 100px;
    margin: 0;
}