.kaufman {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #1f1f1f;
}