.khan__buy-link {    
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    margin: 0;
    padding-left: 48px;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

.khan__buy-link:hover {
    opacity: 50%;
}